.App {
  text-align: center;
  margin-top: 100px;
}
.aLaffiche{
  background-color: antiquewhite;
  border: 5px;
  border-color: black;
}
.listMovie{
  display: block;
  background-color: rgb(247, 104, 9);
}
.movieList{
  display:flex;
}